<h1 class="top-title">ようこそ
    <strong>Bookers</strong>
へ！</h1>


<div class="top-text">
    <p>
        <strong>Bookers</strong>
        では、さまざまな書籍に関するあなたの意見や
    </p><br>
    <p>印象を共有し交換することができます</p>
        
    <a href="/books">start</a>
</div>